<div class="repos-filter">
  <mat-form-field class="repos-filter__item query">
    <mat-label>Search</mat-label>
    <input
      matInput
      type="text"
      [formControl]="searchBox"
      placeholder="Search"
    />
  </mat-form-field>

  <mat-form-field class="repos-filter__item">
    <mat-label>Language</mat-label>
    <input
      matInput
      type="text"
      [formControl]="filterForm.controls.language"
      placeholder="Language"
    />
  </mat-form-field>

  <mat-form-field class="repos-filter__item">
    <mat-label>Min. stars</mat-label>
    <input
      matInput
      type="text"
      [formControl]="filterForm.controls.minStars"
      placeholder="Min. stars"
    />
  </mat-form-field>
</div>

<div *ngIf="query$ | async" class="repos-filter__paginator">
  <mat-paginator
    (page)="onPageChange($event)"
    [length]="100"
    [pageSize]="paging().perPage"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
  />
</div>
